body{
    background-color: hsl(47, 88%, 63%);
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:100px;
}
.container{
  width:100vw;
  height:100vh;
  max-width:300px;
  max-height:400px;
  background-color:  hsl(0, 0%, 100%);
  border-radius:10px;
  padding:15px;
  box-shadow:10px 10px black;
}
.container img{
    width:100%;
    border-radius:10px;
}
.container  h2:hover{
   color:yellow;
   cursor:pointer;
}
#genre{
    background-color:hsl(47, 88%, 63%);
    border-radius:5px;
    width:60px;
}
.attribution{
    margin:10px;
}
#avatar-image{
    width:30px;
    height:30px;
    display:inline-block;
}
#content{
    margin-bottom:10px;
}